node_modules
Match-Master-App-darwin-arm64/Match-Master-App.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
Match-Master-App-darwin-arm64/Match-Master-App.app/Contents/Frameworks/Electron Framework.framework/Electron Framework
